body {
  background-color: #061417;
  color: #C6BFBB;
  margin: 0;
  padding: 0;
}

h1 {
  color: #3c9dc7;
  font-size: 28px;
}

h2 {
  color: #3c9dc7;
  font-size: 22px;
}
h3 {
  color: #3c9dc7;
}

.navbar {
  padding: 3px 20px;
}

.navbar-brand {
  font-size: 22px;
  font-weight: bold;
}


.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

 
}